body {
    background-color: beige;
        margin:0;
        overflow:hidden;
}

@media screen and (min-width: 512px) {
    #navbar {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
    }
}
.linksline {
    padding-left: 50px;
}

.lobster-font {
    font-family: 'Lobster', cursive;
}

.icon-img {
    max-width: 55px;
}

#welcome-section {
    height: 572px;
}
/* .vh30 {
    max-height: 5vw;
}

.vh70 {
    min-height: 38vw;
    margin-top: 6vw;
} */

 .header-bg-gradient {
    color: aquamarine;
    background: linear-gradient( rgb(12, 175, 224) 30%, rgb(45, 5, 189)); /* (must be last) */
 }

 .header-link-text {
    color: rgb(194, 229, 245);
    display: block;
    padding-right: .5rem;
    padding-left: .5rem;
 }

.jumbotron_bg {
    background-color: rgb(193, 237, 243);
}
.link-no-decoration {
    text-decoration: none;
    margin-bottom: 30px;
}

.position-relative {
    position: relative;
}

.position-bottom {
    position: absolute;
    bottom: 0;
    
    /* margin: 0 auto; */
}

.contact_bg {
    background-color: rgb(226, 155, 220);
}

@media only screen and (min-width : 768px) 
{
    .imgwrapper {
        width:50%;
        position: relative;
        top: 38px;
    }
}
.footer-style {
    background-color: black;
    color : beige;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
}

footer > a {
    text-decoration: none;
    color : aqua;
    /* font-family: 'Lobster', cursive; */
    font-family: 'Krona One', sans-serif;
}