* {
    margin: 0;
    box-sizing: border-box;
}

body {
    /* background-color: beige; */
        /* margin:0; */
        /* overflow:hidden; */
    background-image: url("images/clouds_in_sky_background_192377.jpg");
}

#navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.linksline {
    padding-left: 50px;
}

.lobster-font {
    font-family: 'Lobster', cursive;
}

.icon-img {
    max-width: 55px;
}

/* #welcome-section {
    height: 100vh;
} */

.margin-0 {
    margin: 0 auto;
}

.mt-100 {
    margin-top: 100px;
}

.jumbotron-padding {
    padding: 174px 0px 132px 0px;
}

.b-image {
    max-width: 33px;
    margin-bottom: 11px;
}

.j-image {
    max-width: 35px;
    margin-bottom: 11px;
}

.header-bg-gradient {
    color: aquamarine;
    background: linear-gradient( rgb(12, 175, 224) 30%, rgb(45, 5, 189)); /* (must be last) */
}

.header-link-text {
    color: rgb(194, 229, 245);
    display: block;
    padding-right: .5rem;
    padding-left: .5rem;
}

.jumbotron_bg {
    background-color: rgb(193, 237, 243);
}

.link-no-decoration {
    text-decoration: none;
    /* margin-bottom: 30px; */
}

.ESD-description {
    list-style: none;
    padding: 0;
}
 
.ESD-description li {
    padding-left: 1.3em;
}

.ESD-description-text {
    padding-left : 1em;
}
  
#quote-bubble {
        display: inline-block;
        margin: 0 auto;
        -moz-transform: scaleY(-1);
        -o-transform: scaleY(-1);
        -webkit-transform: scaleY(-1);
        transform: scaleY(-1);
        filter: FlipV;
        -ms-filter: "FlipV";
        max-width: 100%;
}

#eval-text {
        position: absolute;
        top: 84%;
        left: 50%;
        transform: translate( -50%, -50% );
        text-align: center;
        color: black;
        font-weight: bold;
        font-size: 9px;
        max-width: 353px;
}

.position-relative {
    position: relative;
}

.position-bottom {
    width: 90%;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
} 

.contact_bg {
    background-color: rgb(226, 155, 220);
}


.footer-style {
    background-color: black;
    color : beige;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
}

footer > a {
    text-decoration: none;
    color : aqua;
    /* font-family: 'Lobster', cursive; */
    font-family: 'Krona One', sans-serif;
}

@media only screen and (min-width : 768px) 
{
    .imgwrapper {
        width:50%;
        position: relative;
        top: 38px;
    }
}

@media only screen and (max-width : 1200px) 
{
    #eval-text {
        top: 83%;
    }
}

@media only screen and (max-width : 992px) {
    .project-tile {
        display: block;
        width: 75%;
    }

    #eval-text {
        top: 77%;
        left: 50%;
        font-size: 8px;
    }
    /* #welcome-section {
        height: 52vh;
    } */
}

@media only screen and (max-width: 600px) {
    
    #about-me{
        line-height: 1em;
    }
    #welcome-section{
        padding:0;
    }

    #eval-text {
        /* top: 77px;
        left: 0; */
        font-size: 6px;
        right: -40px;
    }

    .jumbotron-padding {
        padding: 80px 0px 50px 0px;
    }
}
@media only screen and (max-width: 367px) {
    /*    #contact{
      min-height:1100px;
    } */

    #eval-text {
        top: 343px;
        left: 157px;
        /* font-size: 6px;
        right: -96px; */
    }

    #connect-me {
      border: 2px solid #90C695;
      border-radius: 0;
      width: 90px;
      height: 20px;
      padding: 10px;
      line-height: normal;
    }
  }