* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: beige;
        /* margin:0; */
        /* overflow:hidden; */
}

#navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.linksline {
    padding-left: 50px;
}

.lobster-font {
    font-family: 'Lobster', cursive;
}

.icon-img {
    max-width: 55px;
}

#welcome-section {
    height: 100vh;
}

.margin-0 {
    margin: 0 auto;
}

.mt-100 {
    margin-top: 100px;
}

.jumbotron-padding {
    padding: 174px 0px 132px 0px;
}

.b-image {
    max-width: 33px;
    margin-bottom: 11px;
}

.j-image {
    max-width: 35px;
    margin-bottom: 11px;
}
/* .vh30 {
    max-height: 5vw; 
    height: 30%;
} */

/* .vh70 {
    height: 70%;
    margin-top: 100px;
} */

 .header-bg-gradient {
    color: aquamarine;
    background: linear-gradient( rgb(12, 175, 224) 30%, rgb(45, 5, 189)); /* (must be last) */
 }

 .header-link-text {
    color: rgb(194, 229, 245);
    display: block;
    padding-right: .5rem;
    padding-left: .5rem;
 }

.jumbotron_bg {
    background-color: rgb(193, 237, 243);
}
.link-no-decoration {
    text-decoration: none;
    margin-bottom: 30px;
}

.position-relative {
    position: relative;
}

.position-bottom {
    width: 100%;
    margin: 0 auto;
} 

.contact_bg {
    background-color: rgb(226, 155, 220);
}


.footer-style {
    background-color: black;
    color : beige;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
}

footer > a {
    text-decoration: none;
    color : aqua;
    /* font-family: 'Lobster', cursive; */
    font-family: 'Krona One', sans-serif;
}

@media only screen and (min-width : 768px) 
{
    .imgwrapper {
        width:50%;
        position: relative;
        top: 38px;
    }
}

@media only screen and (max-width : 992px) {
    .project-tile {
        display: block;
        width: 75%;
    }

    #welcome-section {
        height: 52vh;
    }
}

@media only screen and (max-width: 600px) {
    
    #about-me{
        line-height: 1em;
    }
    #welcome-section{
        padding:0;
    }

    .jumbotron-padding {
        padding: 80px 0px 50px 0px;
    }
}
@media only screen and (max-width: 367px) {
    /*    #contact{
      min-height:1100px;
    } */
    #connect-me {
      border: 2px solid #90C695;
      border-radius: 0;
      width: 90px;
      height: 20px;
      padding: 10px;
      line-height: normal;
    }
  }